<template>
    <div>
        <div class="row ml-0">
            <h5>A mátrix sorainak a száma:</h5>
            <input class="row-col-input ml35" v-model.number="rows" type="number" placeholder="Number of rows">
        </div>
        <!-- <div class="row ml-0">
            <h5>A mátrix oszlopainak a száma:</h5>
            <input class="row-col-input ml-2" v-model.number="cols" type="number" placeholder="Number of cols">
        </div> -->

        <div class="pt-2">
            <table>
                <tr v-for="row in rows">
                    <td v-for="rows in rows + 1">
                        <input type="number" class="matrix-input" :name="getInputName(row)" value="0" required/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                rows: 3,
                cols: 4,
                matrix: [],
            }
        },
        created() {
        },
        methods: {
            getInputName(row) {
                return `matrix[${row}][]`
            }
        },

    }
</script>
